/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Pastel gradient background */
  --bg-main: linear-gradient(
    135deg,
    #E6A6E0,  /* soft lavender */
    #b4d6ed,  /* pastel sky blue */
    #afedc7/* soft mint */
  );

  /* Glass-style cards */
  --bg-card: linear-gradient(
    135deg,
    #afedc7 /* soft mint */
    #b4d6ed,  /* pastel sky blue */
    #E6A6E0,  /* soft lavender */
   
    
  );

  /* Text colors (dark for contrast) */
  --text-main: #0f172a;
  --text-muted: #475569;

  /* Accent */
  --accent: #bc34bc
  ;
}


/* Global variables*/
body {
    background: var(--bg-main);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;

}

section {
    padding: 30px 10%;
}

button {
    padding: 12px 24px;
    background-color: var(--accent);
    color: var(--bg-main);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button.cv-btn {
    background-color: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
}

a {
    color: var(--accent);
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#info {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-buttons {
    display: flex;
    gap: 15px;

}

#about {
    background: var(--bg-card);
    border-radius: 12;
    text-align: center;
}

#skills {
    text-align: center;
}

.skill-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

#skill-content {
    background: var(--bg-card);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}


#projects {
    background: var(--bg-card);
    text-align: center;

}

.filter-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.project-grid {
    display: flex;
     grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;

}

.project-card {
    background: var(--bg-main);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


#contact {
    text-align: center;
}


@media (max-width: 768px) {
  section {
    padding: 60px 6%;
  }

  .skill-buttons,
  .filter-buttons {
    flex-direction: column;
  }
}



