/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --bg-main: #0f172a;
  --bg-card: #111827;
  --text-main: #e5e7eb;
  --text-muted: #9ca3af;
  --accent: #38bdf8;
}

/* Global variables*/
body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;

}

section {
    padding: 30px 10%;
}

button {
    padding: 12px 24px;
    background-color: var(--accent);
    color: var(--bg-main);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

button.cv-btn {
    background-color: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
}

a {
    color: var(--accent);
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#info {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info-buttons {
    display: flex;
    gap: 15px;

}

#about {
    background-color: var(--bg-card);
    border-radius: 12;
    text-align: center;
}

#skills {
    text-align: center;
}

.skill-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

#skill-content {
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
}


#projects {
    background-color: var(--bg-card);
    text-align: center;

}

.filter-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.project-grid {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;

}

.project-card {
    background-color: var(--bg-main);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#contact {
    text-align: center;
}


@media (max-width: 768px) {
  section {
    padding: 60px 6%;
  }

  .skill-buttons,
  .filter-buttons {
    flex-direction: column;
  }
}



